*{
    padding: 0px;
    margin:0px;
}
h1{color: red;}
 body{
     margin:0;
     background:#EFEFEF;
 }
.clearfix::after{
    content: "";
    display: block;
    clear:both;
}
.topNavBar-inner{
    padding: 0px 16px; 
}
.topNavBar{
    padding: 20px 0px;
    position:fixed;
    top: 0px;
    left:0px;
    width: 100%;
}
.topNavBar nav>ul{
    list-style:none;
    margin:0;
    padding:0;
}
.topNavBar nav>ul>li{
    float: right;
    margin-right:17px;
    margin-left:17px;
}
.topNavBar nav>ul>li>a{
    font-size: 12px;
    color:rgb(204,206,209);
    text-decoration: none;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top:12px;
    padding-bottom: 6px;
    display:block;
}
.topNavBar nav>ul>li>a:hover{
    border-bottom: 3px solid #e06567;
}
a{
    text-decoration: none;
}
.logo{
    float:left;
}
.topNavBar .logo{
    padding-top:3px;
    padding-bottom: 4px;
    font-size:24px;
    font-family: "Arial Black";
}
.topNavBar .logo .rs{
    margin-right:4px;
    color: rgb(230,104,106);
}
.topNavBar .logo .card{

    color: rgb(154,156,162);
}
.banner{
    height:512px;
    background-image:url(../img/rs-cover-2-2-1-1.jpg);
    background-position: center center;
    background-size:cover;
}
.banner .mask{
    height: 512px;
    background-color:rgba(0,0,0,0.6)
}
.userCard{
    border: 1px solid red;
    max-width:940px;
    margin-left:auto;
    margin-right:auto;
}
.userCard .pictureAndText{
    padding:0 50px;
}
.userCard .picture{
    float:left;
}
.userCard .text{
    float:left;
    padding-left:20px;
}
.userCard .welcome{
    background:#e6686a;
    color: #EFEFEF;
    display: inline-block;
    padding:5px 5px;
    position:relative;
    margin-top:10px;
}
.userCard .welcome .triangle{
    display: block;
    border:12px solid transparent;
    width:0px;
    border-left-color:#E6686A;
    border-top-width:0px;
    top:100%;
    left:4px;
    position:absolute;
}
.userCard .text>h1{
    margin-top:26px;
    margin-bottom:17px;
}
.userCard .text>hr{
    height:0px;
    border:none;
    border:1px solid #dedede;
    margin:10px ;
}
.userCard .text>dl>dd{
    float:left;
    width:30%;
}
.userCard .text>dl>dt{
    float:left;
    width:70px;
}